* {
  box-sizing: border-box;
}


// всё про задний фон
body {
  background-image: url("https://images.unsplash.com/photo-1418985991508-e47386d96a71?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  font-family: "Poppins", sans-serif;
  background-position: center center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  align-items: center;
  min-height: 100vh;
  margin: 0;

  h1 {
    font-weight: normal;
    font-size: 4rem;
    display: flex;
    margin-top: 5rem;
  }
}


// всё про контент на сайте
.countdown-container {
  display: flex;

  .countdown-el {
    text-align: center;

    .span {
      font-size: 1.3rem;
    }

    .big-text {
      font-weight: bold;
      font-size: 6rem;
      line-height: 1;
      margin: 0 2rem;
    }
  }
}
